## Setup

*This is already done for you.* First, we install the python requirements from **requirements.txt**. There's lot of libraries, but most importantly, this installs the  **ipython-sql** library that enables SQL execution in Jupyter Notebooks and an older version of SQLAlchemy (1.4.46) that works with Codespaces.

❗ The command ```**%load_ext sql**``` is used to activate sql in Jupyter.

❗ The command ```**%sql sqlite:///<database_name>.db**``` is used to select the working database. (Note 3 slashes!)

In [25]:
# Start the Jupyter SQL engine, connecting to a SQLite database 
%reload_ext sql 
%sql sqlite:///data.db

## Queries

The command **%%SQL** is referenced before writing an SQL query

Comments must be written in SQL syntax using double dash lines: **--**

#### Query. 1
Write a query that returns everything from the member table

In [20]:
%%sql
-- This is a command that queries everything from the 'member' table

SELECT * FROM member

 * sqlite:///ourdata.db
Done.

[]

#### Query 2 
Write a query that returns everything from the chapter table

In [26]:
%%sql

SELECT * FROM chapter

 * sqlite:///data.db
   sqlite:///ourdata.db
Done.

[]

In [22]:
%%sql

SELECT * FROM event

 * sqlite:///ourdata.db
Done.

[]

In [23]:
%%sql

SELECT * FROM donation

 * sqlite:///ourdata.db
Done.

[]